extends ../../views/layout

block content
  h3= __('qotd-title')

  - if (ROLE < 2)
    .row
      .large-12.columns
        h2 Settings

        form(method='post', action='/api/qotd/settings')
          label Default number of answers per question
            input(name='defaultNoOfAns', type='text', value=mysettings['qotd-defaultNoOfAns'])
          input.button.small(type='submit', value='Save')

    // Transfer number of fields through JS
    script var noOfOptions = #{mysettings['qotd-defaultNoOfAns']}

  - if (ROLE < 4)
    .row.collapse.qotd-answer-template
      input(name='valid', type='hidden', value='false', id='valid', hidden)
      .small-10.columns
        label
          input(name='answer', type='text', id='answer')
      .small-2.columns
        a.button.postfix(href='javascript:void(0);', name='check') False

    form(method='post', action='/api/qotd/add')
      .qotd-question
        .row
          .large-12.columns
            h2 Add question
            label Question
              input(name='question', type='text')
        .row
          .large-6.columns.left
            label Answers
              .qotd-answer-list
          .large-6.columns.right
            label Date (dd/mm/yy)
              input(name='date', type='text', id='qotd-date')
            #datepicker

      .spacer
      .controls.row
        .large-11.columns.left
          input.button.small(name='add-qotd-answer', type='button', value='Add answer')
        .large-1.columns.right
          input.button.small(id='sub', type='submit', value='Save')

    .spacer
    .row
      h2 List of questions
      .qotd-question-list
      .qotd-question-pages.text-center
      .spacer


  - if (ROLE == 4)
    .row
      .large-12.columns
        h2 Play game
        form.qotd-form(method='post', action='/api/qotd/play')
          .qotd-play-question
          .qotd-play-answers

block footer
  script(type="text/javascript", src='/modules/qotd/public/js/main.js')