{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jquery": true
    },

    "globals": {
        "React": true,
        "describe": true,
        "before": true,
        "it": true
    },

    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "arrowFunctions": true,
            "blockBindings": true,
            "generators": true,
            "require-jsdoc": false
        }
    },

    "plugins": [
        "node",
        "react"
    ],

    "extends": [
        "standard-jsx",
        "eslint:recommended",
        "plugin:node/recommended"
    ]
}
