{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jquery": true
    },
    "globals": {
        "describe": true,
        "before": true,
        "it": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2017
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "indent": [
            0,
            2
        ],
        "quotes": [
            2,
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "space-before-function-paren": 0,
        "space-before-blocks": 2,
        "arrow-spacing": 2,
        "no-unused-vars": 1,
        "node/shebang": 0,
        "no-console": 0
    }
}
