{
	"hostname": "localhost:4000",
	"language": "en",
	"modules" : {
		"wouso-social-login" : true
	},
	"games": {
		"wouso-qotd" : true,
		"wouso-quest": true
	},
	"themes": {
		"wouso-foundation": true
	},
	"superuser": {
		"root@root.com": "marius"
	},
	"mongo_url": {
		"test" : "mongodb://localhost/wouso-new-test",
		"dev"  : "mongodb://localhost/wouso-new-dev",
		"prod" : "mongodb://localhost/wouso-new-prod"
	},
	"credentials": {
		"facebook": {
			"clientID"    : "xxxxxxxxxxxxxxxxxxx",
      "clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxx"
		},
		"twitter": {
			"clientID"    : "xxxxxxxxxxxxxxxxxxx",
      "clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxx"
		},
		"google": {
			"clientID"    : "xxxxxxxxxxxxxxxxxxx",
      "clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxx"
		},
		"github": {
			"clientID"    : "xxxxxxxxxxxxxxxxxxx",
      "clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxx"
		}
	},
	"newrelic_license_key": "xxxxxxxxxxxxxxx"
}
