extends layout

block content
  .row
    h3 WoUSO
    p This is a new version of WoUSO, build as modular as possible, using JS all
      | across the stack.

    h3 Registered users
    - each u in users
      p= u