extends layout

block content

  - if (username)
    .row Already logged in.
  - else
    - if (error != '')
      .spacer
      .row.panel.callout.radius= error

    .spacer
    .row
      .large-5.columns
        .reveal-modal(id='signupModal', data-reveal, aria-labelledby='firstModalTitle', aria-hidden='true', role='dialog')
          h3 Create a new account
          form(action='/signup', method='post')
            label Username
            input(name='username', type='text')
            br
            label Email
            input(name='email', type='text')
            br
            label Password
            input(name='password', type='password')
            br
            button.btn.btn-warning(type='submit') Signup
            br
            | Already have an account? <a href='/login'> Login </a>

        - if (mysettings['login-local'] === 'true')
          h3 Authenticate
          form(action='/login', method='post')
            label Email
            input(name='email', type='text')
            label Password
            input(name='password', type='password')

            - if (mysettings['login-signup'] === 'true')
              p Need an <a href='#' data-reveal-id='signupModal'> account </a> ?
              br

            button.btn.btn-warning(type='submit') Login

      .large-5.columns
        - if (mysettings['login-fb'] === 'true' || mysettings['login-tw'] === 'true' || mysettings['login-gp'] === 'true' || mysettings['login-gh'] === 'true')
          h3 Feeling social ?
          - if (mysettings['login-fb'] === 'true')
            a(href='/auth/facebook') Facebook Login
            br
          - if (mysettings['login-tw'] === 'true')
            a(href='/auth/twitter') Twitter Login
            br
          - if (mysettings['login-gp'] === 'true')
            a(href='#', onclick='gapi.auth.signIn({callback: signInCallback})') Google Login
            br
          - if (mysettings['login-gh'] === 'true')
            a(href='/auth/github') GitHub Login
