extends layout

block content
  h3 QotD Page

  - if (ROLE < 4)
    .qotd-answer-template
      input(name='valid', type='hidden', value='false', hidden)
      .large-11.columns
        input(name='answer', type='text', id='answer')
      .large-1.columns.inline
        input(name='check', type='checkbox', for='answer')

    form(method='post', action='/api/qotd/add')
      .qotd-question
        .row
          .large-12.columns
            h2 Add question
            label Question
              input(name='question', type='text')
        .row
          .large-6.columns.left
            label Answers
              .qotd-answer-list
          .large-6.columns.right
            label Date (dd/mm/yy)
              input(name='date', type='text', id='qotd-date')
            #datepicker

      .spacer
      .controls.row
        .large-11.columns.left
          input.button.small(name='add-qotd-answer', type='button', value='Add answer')
        .large-1.columns.right
          input.button.small(id='sub', type='submit', value='Save')

    .spacer
    .row
      h2 List of questions
      each qotd in questions
        p= qotd


  - if (ROLE == 4)
    h2 Play game
