extends layout

block content
  h3 QotD Page

  p= user
  p= ROLE
  p= URL

  .qotd-answer-template
      label Ans1
      input.span5(name='answer', type='text')
      input.span5(name='valid', type='text', value='false', hidden)
      input(name='check', type='checkbox')

  form(method='post', action='/api/qotd/add')
    .qotd-question
        label Question
        br
        input.span5(name='question', type='text')
        br
        br
    .qotd-answer-list

    br
    input.btn.btn-success(name='add-qotd-answer', type='button', value='Add answer')
    input.btn.btn-success(id='sub', type='submit', value='Save')
    hr

    each qotd in questions
        br
        br
        = qotd.question
        br
        each right in qotd.answers.right
            = "+ " + right
        br
        each wrong in qotd.answers.wrong
            = "- " + wrong
