extends ../../../views/layout

block content
  h3 Login Page

  a(href='/auth/facebook') Facebook Login
  br
  a(href='/auth/twitter') Twitter Login
  br
  a(href='/auth/google') Google Login
  br
  a(href='/auth/github') GitHub Login

  - if (username)
    h2 Logged in