extends layout

block sidebar
  .row
    .large-12.columns
      ul
        li: a(href='/admin/settings')= __('admin_nav_application')
        li: a(href='/admin/users')= __('admin_nav_users')
        li: a(href='/admin/tags')= __('admin_nav_tags')

block content
  .row
    #admin
