extends layout

block content
  .row
    .large-12.columns

  - if (ROLE == 5)
    #quest-admin

  - if (ROLE == 5)
    #quest-teacher

  - if (ROLE < 4)
    #quest-contrib

  - if (ROLE == 4)   
    #quest-game
