extends layout

block content
  .row
    .large-12.columns
      h2= __('quest_title')
      .spacer
      - if (!user)
        h4= __('quest_alert_login')

  // Default values
  script var timeToHint = '';

  // Transfer number of fields through JS
  - if (mysettings['quest-timeToHint'])
    script timeToHint = #{mysettings['quest-timeToHint']}


  - if (ROLE < 2)
    #quest-admin

  - if (ROLE == 2)
    #quest-teacher

  - if (ROLE == 3)
    #quest-contrib

  - if (ROLE == 4)
    #quest-game
